﻿@model Vidly.Models.Customer
@{
    ViewBag.Title = "DispSpecificMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Membership Type: @Model.MemberShipType.Name</li>
    @if (Model.BirthDate != null)
    {
        <li>@Model.BirthDate.Value.Day/@Model.BirthDate.Value.Month/@Model.BirthDate.Value.Year</li>
    }
</ul>

