﻿@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (Model.Customers.Count == 0)
{
    <p>We do not have any customers</p>
}
else
{
    <table id="customersTable" class="table table‐bordered table­‐hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
        </thead>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>
                    @Html.ActionLink(customer.Name, "Edit", "Customer", new {id = customer.Id}, null)
                </td>
                <td>
                    @customer.MemberShipType.Name
                </td>
                <td>
                    <button data-customer-id ="@customer.Id" class ="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#customersTable").DataTable();

            $("#customersTable").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("are you ready that you want to delete this customer",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/customers/" + button.attr("data-customer-id"),
                                    method: "DELETE",
                                    success: function () {
                                        console.log("sucess");//this will be displayed on the chrome console window
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}