﻿@model Vidly.ViewModels.NewCustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Customer"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new {@class = "form-control"}) @* @class is used to change the view of the text box. We can write only @Html.TextBoxFor(m => m.Name) *@
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.BirthDate)
        @Html.TextBoxFor(m => m.Customer.BirthDate, "{0:d MMM yyyy}", new { @class = "form-control" }) @* @class is used to change the view of the text box. We can write only @Html.TextBoxFor(m => m.Name) *@
        @Html.ValidationMessageFor(m => m.Customer.BirthDate)
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m=> m.Customer.IsSubscripedToNewsLetter) Is Subscriped
        </label>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MemberShipTypeId)
        @Html.DropDownListFor(m => m.Customer.MemberShipTypeId, new SelectList(Model.MemberShipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" }) @* @class is used to change the view of the text box. We can write only @Html.TextBoxFor(m => m.Name) *@
        @Html.ValidationMessageFor(m => m.Customer.MemberShipTypeId)
    </div>

    @Html.HiddenFor(m=> m.Customer.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class ="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval") @*I get it from App_Start/BundleConfig.cs*@
}
