﻿@model Vidly.Models.Movie
@{
    ViewBag.Title = "DispSpecificMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>@Model.Genre.Name</li>
    <li>Release Date: @Model.ReleaseDate.Day/@Model.ReleaseDate.Month/@Model.ReleaseDate.Year</li>
    <li>DateAdded Date: @Model.AddedDate.Day/@Model.AddedDate.Month/@Model.AddedDate.Year</li>
    <li>Number In Stock: @Model.NumberInStock</li>
</ul>
