﻿@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@Html.ActionLink("New Movie", "New", "Movie",null,new {@class = "btn btn-primary" })@*Give the link the view class of the button*@
<table id ="moviesTable" class="table table‐bordered table­‐hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@Html.ActionLink(@movie.Name, "Edit", "Movie", new {id = @movie.Id}, null)</td>
                <td>@movie.Genre.Name</td>
                <td>
                    <button data-movie-id ="@movie.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#moviesTable").DataTable();

            $("#moviesTable").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("are you ready that you want to delete this customer",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/movies/" + button.attr("data-movie-id"),
                                    method: "DELETE",
                                    success: function () {
                                        console.log("sucess");//this will be displayed on the chrome console window
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}