﻿@model Vidly.ViewModels.RandomeMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
This is a comment 
    on multiple lines     
*@

<h2>@Model.Movie.Name</h2>

@{   @*We can write in this block multiple c# codes*@
    string className = null;
    if (Model.Customers.Count > 5) { className = "popular"; }
}

<ul class="@className">  @*This class appears or disappers regards to the condition specified for the variable className if it has null or not*@
    @foreach (var customer in Model.Customers)
    {
        <li>@customer.Name</li>
    }
</ul>

